/* ==========================================================
        General Demo Styles [not related to navbar]
   ==========================================================*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
    line-height: 1.8em;
    font-weight: 200;
    margin: 30px 0;
}

strong {
    font-weight: 600;
    color: #333;
}

a {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.line {
    width: 100%;
    height: 1px;
    margin: 30px 0;
    border-bottom: 1px dashed #ddd;
}

.content {
    padding: 50px 0;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #eee !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #eee !important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #eee !important;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #eee !important;
}

/* ==========================================================
           Navbar Styles
      ==========================================================*/

nav.navbar {
    background: #2D3047;
    color: #fff;
    border-bottom: none;
    border-radius: 0;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/* Navbar Brand */

nav.navbar a.navbar-brand {
    color: #fff;
    font-weight: 600;
}

nav.navbar a.navbar-brand:hover, nav.navbar a.navbar-brand:focus {
    color: inherit;
}

/* Toggle Button */

nav.navbar .navbar-toggle {
    background: #2E294E;
    color: #333;
    border: none;
    border-radius: 0;
}

nav.navbar .navbar-toggle:hover, nav.navbar .navbar-toggle:focus {
    background: #2E294E;
    color: #333;
}

/* Navbar Components Holder */

nav.navbar .navbar-collapse {
    border: none;
}

/* Navbar links */

nav.navbar ul.navbar-nav {
    border: none;
}

nav.navbar ul.navbar-nav a {
    transition: 3s;
    color: #fff;
}

nav.navbar ul.navbar-nav a:hover, nav.navbar ul.navbar-nav a:focus {
    color: #333;
    background: #2E294E;
}

/* Navbar Form */

nav.navbar form.navbar-form input {
    border-radius: 0;
    border-color: #6172b9;
    background: none;
    color: #fff;
    transition: 3s;
    font-weight: 300;
}

nav.navbar form.navbar-form button {
    background: #6172b9;
    color: #fff;
    border-color: #2E294E;
    border-radius: 0;
    box-shadow: none !important;
    outline: none;
    transition: 3s;
}

nav.navbar form.navbar-form button:hover {
    background: #fff;
    color: #6172b9;
}

/* Navbar Button */

nav.navbar button.navbar-btn {
    border-radius: 0;
    border-color: #2E294E;
    background: #2E294E;
    transition: 3s;
    color: #fff;
}

nav.navbar button.navbar-btn:hover {
    color: #fff;
    background: #2E294E;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}
.dropbtn{
    border: 15px solid transparent;
    text-decoration: none;
}
.dropbtn:hover{
    border: 15px solid transparent;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    padding-top: 15px;
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    background-color: #2D3047; opacity: 0.7;
    text-decoration: none;
    display: block;
}

body{
    text-align: center;
}
html{
    scroll-behavior: smooth;
}

.profilePicture{
    border-radius: 50%;
    border: 3px solid #000;
    animation: border-color 1s infinite;
}
@keyframes border-color{
    0%{
        border-color: teal;
    }
    50%{
        border-color: rgb(9, 93, 121);
    }
    100%{
        border-color: teal;
    }
}
#about{
    text-align: left;
    color: black;
    padding-left: 20px;
}
#about p {
    padding-left: 10px;
}
#videos{
    text-align: left;
    color: black;
    padding-left: 20px;
}
#videos iframe {
    padding-left: 10px;
    width: 500px;
    height: 300px;
}
#recbooks {
    text-align: left;
    color: black;
    padding-left: 20px;
}
#recbooks a {
    padding-left: 10px;
    width: 500px;
    height: 300px;
}
#recbooks img {
    height: 300px;
    transition: 2s;
}
#recbooks img:hover{
    height: 310px;
}
#footer {
    text-align: left;
    color: black;
    padding-left: 20px;
}
#insta{
    background: -webkit-linear-gradient(#5358D0, #D22C74, #FDCB6A); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
#twitter{
    color: #1D9CEA;
}